[submodule "MainModulesProj/test-modules-sub"]
	path = MainModulesProj/test-modules-sub
	url = https://github.com/otrebla-snake-ita/test-modules-sub.git
[submodule "MainModulesProj/test-modules-sub2"]
	path = MainModulesProj/test-modules-sub2
	url = https://github.com/otrebla-snake-ita/test-modules-sub2.git
